main {
    padding-top: 6rem;
}


.display-container {
    height: calc(100% - 40px);
}

#aziendeFilterForm input {
    width: 120px;
}

.filter-form-container {
    padding: 8px 0;
}

.display-container .black:not(:empty) {
    background-color: black;
}


/*map utilities*/
path.no-cursor {
    cursor: default;
}
